<turbo-frame id="sandwich_<%= sandwich.id %>">
  <div class="col-12 mb-3">
      <div class="sandwich-card" data-sandwich-id="<%= sandwich.id %>" data-favorite-toggle-target="unliked" data-id="<%= sandwich.id %>">
        <%= link_to toggle_favorite_sandwich_path(sandwich), data: { turbo_method: :post }, class: 'favorite-button' do %>
          <%= render 'sandwiches/like_button', sandwich: sandwich %>
        <% end %>
    <%= link_to sandwich_path(sandwich), data: { turbo_frame: "_top" }, class: 'card-link' do %>
        <div class="sandwich-card-content">
          <div class="sandwich-image-box">
            <% if sandwich.photo.present? %>
              <%= cl_image_tag sandwich.photo.key, alt: "#{sandwich.name} Image", class: 'sandwich-image' %>
            <% else %>
              <%= image_tag 'burger.jpg', alt: 'Default Burger Image', class: 'sandwich-image' %>
            <% end %>
          </div>
          <div class="sandwich-content">
            <div class="sandwich-text">
              <h5 class="sandwich-user"> <%= sandwich.user.username %>'s</h5>
              <h2 class="sandwich-card-title"><%= sandwich.name %></h2>
            </div>

          </div>
        </div>
      </div>
    <% end %>
  </div>
</turbo-frame>
