<% @sandwiches.each do |sandwich| %>
  <div class="col-6 col-md-4 mb-4">
    <%= link_to sandwich_path(sandwich), class: 'card-link' do %>
      <div class="card" style="height: 100%; display: flex; flex-direction: column;">


        <!-- Content Section -->
        <div class="card-body" style="flex-grow: 1;">
          <h5 class="card-title"><%= sandwich.name %></h5>
          <p class="card-text"><%= sandwich.description %></p>

          <!-- Favorite Button -->
          <%= link_to toggle_favorite_sandwich_path(sandwich), data: { turbo_method: :post } do %>
            <%= render 'sandwiches/like_button', sandwich: sandwich %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
