<div class="container">
  <!-- Search box -->
  <div class="row my-4">
    <div class="col-12 d-flex justify-content-between align-items-center">
      <div class="input-group">
        <div class="input-group-prepend">
          <button class="btn btn-outline-secondary" type="button">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </div>

        <input type="text" class="form-control" placeholder="Search for sandwiches" />

        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" data-action="click->filter-toggle#toggle">
            <i class="fas fa-bars"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Card display area -->
  <div class="row" data-controller="filter-toggle" data-filter-toggle-favorite-ids="<%= current_user.all_favorited.map(&:id).join(',') %>">
    <% @sandwiches.each do |sandwich| %>
      <div class="col-6 col-md-4 mb-4" data-sandwich-id="<%= sandwich.id %>">
        <div class="card" style="height: 100%; display: flex; flex-direction: column;">
          <!-- Image Section -->
          <div class="card-image" style="flex-shrink: 0;">
            <img src="sandwich.image_url" alt="<%= sandwich.name %>" class="card-img-top" style="width: 100%; height: 200px; object-fit: cover;">
          </div>

          <!-- Content Section -->
          <div class="card-body" style="flex-grow: 1;">
            <h5 class="card-title"><%= sandwich.name %></h5>
            <p class="card-text"><%= sandwich.description %></p>

            <!-- Favorite Button -->
            <%= link_to toggle_favorite_sandwich_path(sandwich), data: { turbo_method: :post } do %>
              <%= render 'sandwiches/like_button', sandwich: sandwich %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
