<div class="sandwich-new-page">
  <h1 class="mb-0 mt-2">The Lab</h1>
</div>
<% if @sandwich.errors.any? %>
  <div class="alert alert-danger">
    <h4>There were some errors with your submission:</h4>
    <ul>
      <% @sandwich.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="mb-0 background">
  <div class="mb-5 ingredient-container">
    <h3>Select Ingredients:</h3>
    <ul data-controller="sortable">
      <% @visible_ingredients.each do |ingredient| %>
        <li>
          <% if ingredient.image_url.present? %>
            <%= image_tag(Cloudinary::Utils.cloudinary_url(ingredient.image_url), alt: ingredient.name, width: "100", height: "100") %>
          <% end %>

          <%= label_tag "ingredient_#{ingredient.id}", class: "ingredient-label" do %>
            <%= check_box_tag "sandwich[ingredient_ids][]", ingredient.id, @sandwich.ingredient_ids.include?(ingredient.id), id: "ingredient_#{ingredient.id}", class: 'form-check-input' %>
            <span class="ingredient-name"><%= ingredient.name %></span>
            <div>
              <%= number_field_tag "sandwich[ingredient_quantities][#{ingredient.id}]", 1, min: 1, class: 'quantity-input', size: 2 %>
              <span class="ingredient-unit"><%= ingredient.unit_of_measure %></span>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="growing-footer" data-controller="panel-pop-up" data-action="click->panel-pop-up#popup">
  <p class="hover-text" style="color: #6c757d; font-weight: bold; text-align: left; padding-left: 20px;">Document Description: <span style="color: black;">Sandwich Patent</span></p>
  <p class="hover-text" style="color: #6c757d; font-weight: bold; text-align: left; padding-left: 20px;" data-controller="doc-code">
  Doc Code: <span data-doc-code-target="docCode"></span>
  </p>
  <div class="hidden-content">
    <%= simple_form_for @sandwich, html: { multipart: true } do |f| %>
      <div style="border-radius: 10px; border: 3px solid #343a40; margin-bottom: 15px;">
        <div class="row ms-0">
          <div class="col-3 border-end border-2 border-dark" style="white-space: normal; word-wrap: break-word; overflow-wrap: break-word; max-height: 100%; display: flex; align-items: center; font-size: 0.8rem; color: #6c757d;">
            Request for application of new original sandwich
          </div>
          <div class="col-9 ps-0">
            <table class="w-100" style="table-layout: fixed;">
              <tr>
                <td class="px-2 border-dark border-start-2 border-bottom-2 text-end" style="color: black; font-weight: bold;">Sandwich Title</td>
                <td class="px-2 border-dark border-2 border-top-0 border-end-0">
                  <%= f.input :name, label: false, input_html: { class: 'border-0 w-100 bg-transparent text-primary no-outline custom-placeholder', placeholder: "Type here...", style: "position: relative; top: 7px; margin-left: -10px;" } %>
                </td>
              </tr>
              <tr>
                <td class="px-2 border-dark border-2 border-start-0 text-end" style="color: black; font-weight: bold;">Inventor</td>
                <td class="px-1 border-dark border-2 border-end-0">
                  <input type="text" value="<%= current_user.username %>" class="border-0 w-100 bg-transparent" readonly>
                </td>
              </tr>
              <tr>
                <td class="px-2 border-dark border-2 border-start-0 border-bottom-0 text-end" style="color: black; font-weight: bold;">Date</td>
                <td class="px-2 border-dark border-2 border-end-0">
                  <input type="date" id="dateField" class="border-0 w-100 bg-transparent" readonly>
                </td>
              </tr>
              <script>
                document.getElementById('dateField').valueAsDate = new Date();
              </script>
              <tr>
                <td class="px-2 border-dark border-2 border-start-0 border-bottom-0 text-end" style="color: black; font-weight: bold;">Allergens</td>
                <td class="px-2 border-dark border-2 border-end-0 border-bottom-0">
                  <input type="text" placeholder="List allergens" class="border-0 w-100 bg-transparent">
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>

      <div style="border-radius: 0px; border: 3px solid #343a40; margin-bottom: 15px;">
        <div class="row ms-0" data-controller="image-preview">
          <div class="col-4 p-2" style="display: flex; flex-direction: column; justify-content: flex-start; align-items: flex-start;">
            <div class="p-2" style="border: 2px dotted #343a40; width: 100%; text-align: center; height: 110px; position: relative; margin-bottom: 10px;">
              <h5 style="margin-top: 30px; font-size: 0.8rem; color: #6c757d; font-weight: bold;">Attach image here</h5>
              <div id="imagePreviewContainer" style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; display: flex; justify-content: center; align-items: center;">
                <img id="imagePreview" src="" alt="Image preview" style="max-width: 110px; max-height: 105px; object-fit: contain; display: none; border: 2px solid #343a40; border-radius: 5px;" data-target="image-preview.previewImage" />
              </div>
            </div>
            <%= f.input :photo, as: :file, label: false, input_html: { class: 'form-control', id: 'imageInput', data: { action: 'change->image-preview#showPreview' } } %>
          </div>

          <div class="col-8 p-2">
            <%= f.label :description, "Applicant hereby declares the inventorship of the following sandwich and describes their invention thusly:",
              style: "display: flex; align-items: center; font-size: 0.8rem; text-align: left; word-wrap: break-word; overflow-wrap: break-word; color: #6c757d;" %>
            <%= f.input :description, as: :text, label: false, input_html: { class: 'form-control custom-description', rows: 5, placeholder: "Description of your totally awesome, original sandwich..." } %>
          </div>
        </div>

        <!-- Submit Button -->
        <div class="mb-3" style="display: flex; justify-content: center;">
          <%= f.submit "Create Sandwich", class: "btn btn-primary w-80" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="p-3 mb-3 empty-card-create"></div>



<!-- Other page -->
<div class="sandwich-new-page">
  <h1>The Lab</h1>
</div>
<% if @sandwich.errors.any? %>
  <div class="alert alert-danger">
    <h4>There were some errors with your submission:</h4>
    <ul>
      <% @sandwich.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="background">
  <%= simple_form_for @sandwich, html: { multipart: true } do |f| %>
    <div class="mb-3">
      <%= f.input :name, label: "Sandwich Name", input_html: { class: 'form-control' } %>
    </div>
    <div data-controller="ingredients" class="mb-3 ingredient-container mb-2">
      <h3>Select Ingredients:</h3>
      <!-- Sortable Ingredient List -->
      <ul data-controller="sortable" data-ingredients-target="container">
        <% @visible_ingredients.each_with_index do |ingredient, index| %>
          <li data-ingredients-target="listItem">
            <% if ingredient.image_url.present? %>
              <%= image_tag(Cloudinary::Utils.cloudinary_url(ingredient.image_url), alt: ingredient.name, width: "100", height: "100") %>
            <% end %>
            <%= label_tag "ingredient_#{ingredient.id}", class: "ingredient-label" do %>
              <!-- Instead of a checkbox, use a hidden field to send the ingredient ID -->
              <%= hidden_field_tag "sandwich[ingredient_ids][]", ingredient.id, value: ingredient.id %>
              <span class="ingredient-name"><%= ingredient.name %></span>
              <div>
                <%= number_field_tag "sandwich[ingredient_quantities][#{ingredient.id}]", 1, min: 1, class: 'quantity-input', size: 2 %>
                <span class="ingredient-unit"><%= ingredient.unit_of_measure %></span>
              </div>
            <% end %>
            <div class="parent-container">
              <button class="remove-ingredient-btn" data-action="click->ingredients#remove" data-ingredients-target="remove">−</button>
            </div>
          </li>
        <% end %>
      </ul>
      <select data-controller="tom-select" data-ingredients-target="select" data-tom-select-options-value="{&quot;tags&quot;: true}">
        <% @ingredients.each do |ingredient| %>
          <option value="<%= ingredient.id %>"> <%= ingredient.name  %> </option>
        <% end %>
      </select>
      <button class="add-ingredient-btn" data-action="click->ingredients#add">+</button>
      <% @ingredients.each do |ingredient| %>
        <template id="ingredient-template-<%= ingredient.id %>">
          <li data-ingredients-target="listItem">
            <% if ingredient.image_url.present? %>
              <%= image_tag(Cloudinary::Utils.cloudinary_url(ingredient.image_url), alt: ingredient.name, width: "100", height: "100") %>
            <% end %>
            <%= label_tag "ingredient_#{ingredient.id}", class: "ingredient-label" do %>
              <%= check_box_tag "sandwich[ingredient_ids][]", ingredient.id,
              @sandwich.ingredient_ids.include?(ingredient.id),
              id: "ingredient_#{ingredient.id}", class: 'form-check-input' %>
              <span class="ingredient-name"><%= ingredient.name %></span>
              <div>
                <%= number_field_tag "sandwich[ingredient_quantities][#{ingredient.id}]", 1, min: 1, class: 'quantity-input', size: 2 %>
                <span class="ingredient-unit"><%= ingredient.unit_of_measure %></span>
              </div>
            <% end %>
            <div class="parent-container">
              <button class="remove-ingredient-btn" data-action="click->ingredients#remove" data-ingredients-target="remove">−</button>
            </div>
          </li>
        </template>
      <% end %>
    </div>
    <div class="mb-3">
      <%= f.input :description, as: :text, label: "Sandwich Description:", input_html: { class: 'form-control', rows: 4 } %>
    </div>
    <div class="mb-3">
      <h3>Upload a Sandwich Photo:</h3>
      <%= f.input :photo, as: :file, label: "Choose an image" %>
    </div>
    <div class="mb-3">
      <%= f.submit "Create Sandwich", class: "btn btn-primary w-100" %>
    </div>
  <% end %>
</div>
<div class="p-3 mb-3 empty-card-create"></div>
