<div class="sandwich-new-page">
  <h1>The Lab</h1>
</div>
<% if @sandwich.errors.any? %>
  <div class="alert alert-danger">
    <h4>There were some errors with your submission:</h4>
    <ul>
      <% @sandwich.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="background">
  <%= simple_form_for @sandwich do |f| %>
    <div class="mb-3">
      <%= f.input :name, label: "Sandwich Name", input_html: { class: 'form-control' } %>
    </div>

    <div class="mb-3">
      <h3>Select Ingredients:</h3>
      <% @visible_ingredients.each do |ingredient| %>
        <div class="ingredient-container mb-2">
          <% if ingredient.image_url.present? %>
            <%= image_tag(Cloudinary::Utils.cloudinary_url(ingredient.image_url), alt: ingredient.name, width: "100", height: "100") %>
          <% end %>

          <%= label_tag "ingredient_#{ingredient.id}", class: "ingredient-label" do %>
            <%= check_box_tag "sandwich[ingredient_ids][]", ingredient.id, @sandwich.ingredient_ids.include?(ingredient.id), id: "ingredient_#{ingredient.id}", class: 'form-check-input' %>
            <span class="ingredient-name"><%= ingredient.name %></span>
            <div>
              <%= number_field_tag "sandwich[ingredient_quantities][#{ingredient.id}]", 1, min: 1, class: 'quantity-input', size: 2 %>
              <span class="ingredient-unit"><%= ingredient.unit_of_measure %></span>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="mb-3">
      <%= f.submit "Create Sandwich", class: "btn btn-primary w-100" %>
    </div>

  <% end %>
</div>
