<h1><%= @sandwich.name %></h1>

<h3>Ingredients:</h3>
<% @sandwich.ingredients.each do |ingredient| %>
  <div>
    <%= ingredient.name %> -
    <%= @sandwich.ingredient_quantities[ingredient.id.to_s] || 1 %>
    <%= ingredient.unit_of_measure %>
  </div>
<% end %>

<%= cl_image_tag @sandwich.photo.key, height: 300, width: 400, crop: :fill %>

<%= link_to "Back", new_sandwich_path, class: "btn btn-secondary" %>
