<div class="card p-3 mb-3 text-center sandwich-card">
  <img src="" alt="Sandwich Image" class="img-fluid sandwich-image">
  <h1 class="sandwich-title"><%= @sandwich.name %></h1>
  <p class="text-muted">Rating: <span class="fw-bold"></span></p>
  <p class="description"><%= @sandwich.description %></p>
</div>

<div class="card p-3 mb-3 sandwich-card">
  <h2 class="notes-header">Tasting Notes</h2>
  <div class="d-flex justify-content-between text-center category-container">
    <div class="category">
      <h2>Flavor</h2>
      <p><%= @flavors.uniq.any? ? @flavors.uniq.join(", ") : "None" %></p>
    </div>
    <div class="category">
      <h2>Texture</h2>
      <p><%= @textures.uniq.any? ? @textures.uniq.join(", ") : "None" %></p>
    </div>
    <div class="category">
      <h2>Cuisine</h2>
      <p><%= @cuisines.any? ? @cuisines.join(", ") : "None" %></p>
    </div>
  </div>
</div>

<div class="card p-3 mb-3 sandwich-card">
  <h2>Ingredients:</h2>
  <ul class="list-group">
    <% @sandwich_ingredients.each do |sandwich_ingredient| %>
      <li class="list-group-item">
        <strong><%= sandwich_ingredient.ingredient.name %></strong>
        <% if sandwich_ingredient.ingredient.description.present? %>
          - <em><%= sandwich_ingredient.ingredient.description %></em>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>

<div class="p-3 mb-3 empty-card"></div>
