<div class="profile-background d-flex justify-content-center align-items-center flex-column">
  <div class="profile-header">
    <img src=<%= asset_path("top-bar-profile.png") %> alt="No Restrictions Applied" class="profile-header-image">
    <%# <div class="inner-banner"> %>
    <%# <h1>User Show Page</h1> %>
    <%# </div> %>
  </div>
  <div class="license-card">
    <div class="d-flex justify-content-center">
      <h1 class="profile-card-header">Mad Sandwichist License</h1>
    </div>
    <div class="diet-name d-flex flex-row">
      <div class="dietary">
        <img src=<%= asset_path("dietary-stamp.png") %> alt="No Restrictions Applied" class="restriction-image">
      </div>
      <div class="name-field">
        <span class="label">Name</span>
        <span class="user-name"><%= @user.username.present? ? @user.username : @user.email %></span>
      </div>
    </div>
    <div class="allergy-list">
      <p>I have allergies!</p>
      <img src=<%= asset_path("icon_allergy_shrimp_bk.png")%> alt="Allergy Icon" class="allergy-icon" style="width: 2rem;">
    </div>
  </div>
  <div class="trophy-case">
    <div class="trophy-header">
      <h1>Trophy Case</h1>
    </div>
    <div class="trophy-list">
      <% @allbadges.each do |badge| %>
        <div class="trophy-box <%= "earned" if current_user.has_badge?(badge.name) %>">
          <div class="trophy-container">
            <img src=<%= asset_path("trophy-icon.png") %> alt: badge.name, class="trophy-image">
          </div>
          <div class="trophy-info">
            <div class="trophy-name"><%= badge.name %></div>
            <div class="trophy-requirements"><%= badge.description %></div>
          </div>
          <div class="check-container">
            <% if current_user.has_badge?(badge.name) %>
              <img src="<%= asset_path('check.png') %>" alt="Earned" class="checkmark" />
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
