<!DOCTYPE html>
<html>
  <head>
    <title>TheMadSandwichist</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% unless controller_name == "landing" && action_name == "home" %>
      <%= render "shared/navbar" %>
      <%= render "shared/bottom_navbar" %>
    <% end %>

    <%= render "shared/flashes" %>
    <%= yield %>

  </body>
</html>
